<nav>
  <!--EX #6-->
  <input type="color" (change)="colorChange($event)">
  <button (click)="save()">Save</button>
  <button (click)="open()" [disabled]="isOpenDisabled">Open</button>
  <button (click)="copy()" [disabled]="isCopyDisabled">Copy</button>
  <button (click)="paste()" [disabled]="isPasteDisabled">Paste</button>
  <button (click)="share()" [disabled]="isShareDisabled">Share</button>
</nav>

<!--EX #1-->
<canvas #canvas width="600" height="480"
        (pointerdown)="onPointerDown($event)"
        (pointermove)="onPointerMove($event)"
        (pointerup)="onPointerUp()"></canvas>
